<% provide(:title, 'All Users') %>

<h1><%= params[:q].present? ? "「#{params[:q]}」の検索結果" : "ユーザー一覧" %></h1>

<div class="clearfix">
  <div class="pull-left file-input" data-controller="file-input">
    <p class="form-title">CSVインポート</p>
    <%= form_with(url: import_users_path, method: :post, multipart: true, local: true) do |f| %>
      <div class="file-input__row">
        <label class="btn btn-default file-input__button">
          ファイルを選択
          <%= f.file_field :file, class: "file-input__field",
              data: { "file-input-target": "field",
                      action: "change->file-input#update" } %>
        </label>
        <input type="text" class="form-control file-input__name" readonly
               data-file-input-target="name">
      </div>
      <%= f.submit "CSVをインポート",
          class: "btn btn-primary btn-block file-input__submit" %>
    <% end %>
  </div>
  <div class="pull-right">
    <p class="form-title">ユーザー名検索</p>
    <%= form_with(url: users_path, method: :get, local: true, class: "form-inline") do |f| %>
      <%= f.text_field :q, value: params[:q], placeholder: "名前で検索", class: "form-control" %>
      <%= f.submit "検索", class: "btn btn-default btn-primary" %>
    <% end %>
  </div>
</div>

<div class="col-md-10 col-md-offset-1">
  <%= will_paginate %>
  <table class="table table-condensed table-hover table-users"
         data-controller="basic-info-accordion">
    <thead>
      <tr>
        <th><%= User.human_attribute_name :name %></th>
        <th></th>
      </tr>
    </thead>

    <% @users.each do |user| %>
      <tr>
        <td>
          <%= user.name %>
        </td>
        <td class="center">
          <button type="button" class="btn btn-primary"
                  data-action="basic-info-accordion#toggle"
                  data-basic-info-accordion-id-param="<%= user.id %>">
            編集
          </button>
          <%= link_to "削除", user, data: { turbo_method: :delete, turbo_confirm: "#{user.name}を削除してよろしいですか？" }, class: "btn btn-primary" %>
        </td>
      </tr>
      <tr class="basic-info-accordion__panel"
          data-basic-info-accordion-target="panel"
          data-user-id="<%= user.id %>" hidden>
        <td colspan="2">
          <%= render 'edit_basic_info', user: user %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate %>
</div>