<% provide(:title, @user.name) %>
<%# 自身の勤怠表のみ操作ボタンを表示する（他者閲覧時は全ボタン非表示） %>
<% own = current_user?(@user) %>
<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <td>
        <% if params[:mode] == 'week' %>
          <%# 週ナビゲーション（前週: -7日、次週: +7日、mode引き継ぎ） %>
          <% if own %>
            <%= link_to "◀", user_path(date: @first_day - 7, mode: 'week'), class: "btn btn-primary btn-xs" %>
          <% end %>
          <%= @first_day.year %>年
          <%= l(@first_day, format: "%-m/%-d") %> ~
          <%= l(@last_day, format: "%-m/%-d") %> 時間管理表
          <% if own %>
            <%= link_to "▶", user_path(date: @first_day + 7, mode: 'week'), class: "btn btn-primary btn-xs" %>
          <% end %>
        <% else %>
          <%# 月ナビゲーション（既存のまま） %>
          <% if own %>
            <%= link_to "◀", user_path(date: @first_day.prev_month), class: "btn btn-primary btn-xs" %>
          <% end %>
          <%= l(@first_day, format: :middle) %> 時間管理表
          <% if own %>
            <%= link_to "▶", user_path(date: @first_day.next_month), class: "btn btn-primary btn-xs" %>
          <% end %>
        <% end %>
      </td>
      <td>指定勤務時間：<%= format_basic_info(@user.work_time) %></td>
      <td colspan="3">
        指定勤務開始時間：<%= @user.designated_work_start_time&.strftime('%H:%M') %><br>
        指定勤務終了時間：<%= @user.designated_work_end_time&.strftime('%H:%M') %>
      </td>
      <td>初日：<%= l(@first_day, format: :short) %></td>
    </tr>

    <tr>
      <td>所属：<%= @user.affiliation.present? ? @user.affiliation : "未所属" %></td>
      <td>名前：<%= @user.name %></td>
      <td>コード：</td>
      <td></td>
      <td>出勤日数：<%= @worked_sum %>日</td>
      <td>末日：<%= l(@last_day, format: :short) %></td>
    </tr>
  </table>
</div>
<% if own && current_user.superior? %>
  <div class="notice-links">
    <div class="notice-links__item">
      <%= link_to notice_label('残業申請', @pending_overtime_count, @rejected_overtime_count),
          received_overtime_requests_path(date: @first_day, mode: params[:mode]),
          data: { turbo_frame: 'modal' },
          class: notice_link_class(@pending_overtime_count, @rejected_overtime_count) %>
    </div>
    <div class="notice-links__item">
      <%= link_to notice_label('勤怠変更申請', @pending_change_count, @rejected_change_count),
          received_attendance_change_requests_path(date: @first_day, mode: params[:mode]),
          data: { turbo_frame: 'modal' },
          class: notice_link_class(@pending_change_count, @rejected_change_count) %>
    </div>
    <div class="notice-links__item">
      <%= link_to notice_label('所属長承認申請', @pending_approval_count, @rejected_approval_count),
          received_approval_requests_path(date: @first_day, mode: params[:mode]),
          data: { turbo_frame: 'modal' },
          class: notice_link_class(@pending_approval_count, @rejected_approval_count) %>
    </div>
  </div>
<% end %>
<% if own %>
  <div class="btn-users-show">
    <%= link_to "勤怠を編集",
        attendances_edit_one_month_user_path(date: @first_day, mode: params[:mode]),
        class: "btn btn-primary"
        %>
    <%= link_to "CSVを出力",
        user_path(@user, format: :csv, date: @first_day, mode: params[:mode]),
        data: { turbo: false }, class: "btn btn-primary" %>
    <%= link_to "勤怠修正ログ（承認済）", attendance_correction_logs_path,
        class: "btn btn-primary" %>
    <% if params[:mode] == 'week' %>
      <%= link_to "月表示", user_path(mode: 'month'), class: "btn btn-primary pull-right" %>
    <% else %>
      <%= link_to "週表示", user_path(mode: 'week'),  class: "btn btn-primary pull-right" %>
    <% end %>
  </div>
<% end %>
<div>
  <table class="table table-bordered table-condensed table-hover table-attendances">
    <thead>
      <tr>
        <th rowspan="3">申請</th>
        <th colspan="9">実績</th>
        <th colspan="5">所定外勤務</th>
      </tr>
      <tr>
        <th rowspan="2">日付</th>
        <th rowspan="2">曜日</th>
        <th rowspan="2">勤怠登録</th>
        <th colspan="2">出勤時間</th>
        <th colspan="2">退勤時間</th>
        <th rowspan="2">在社時間</th>
        <th rowspan="2">備考</th>
        <th colspan="2">終了予定時間</th>
        <th rowspan="2">時間外時間</th>
        <th rowspan="2">業務処理内容</th>
        <th rowspan="2">指示者確認</th>
      </tr>
      <tr>
        <th>時</th>
        <th>分</th>
        <th>時</th>
        <th>分</th>
        <th>時</th>
        <th>分</th>
      </tr>
    </thead>
    <tbody>
      <% @attendances.each do |day| %>
        <tr>
          <td class="table-attendances__request-cell">
            <% if own %>
              <%= link_to "残業申請",
                  new_overtime_request_path(worked_on: day.worked_on,
                                            date: @first_day,
                                            mode: params[:mode]),
                  data: { turbo_frame: 'modal' }, class: "btn btn-primary" %>
            <% end %>
          </td>
          <td><%= l(day.worked_on, format: :short) %></td>
          <td class="<%= weekday_color(day.worked_on) %>"><%= days_of_the_week[day.worked_on.wday] %></td>
          <td>
            <% if own && (btn_text = attendance_state(day)) %>
              <%= link_to "#{btn_text}登録", user_attendance_path(@user, day), data: { turbo_method: :patch }, class: "btn btn-primary btn-attendance" %>
            <% end %>
          </td>
          <td><%= format("%02d", day.started_at.hour) if day.started_at.present? %></td>
          <td><%= format_quarter_hour(day.started_at) if day.started_at.present? %></td>
          <td><%= format("%02d", tomorrow_finished(day.started_at, day.finished_at)) if day.finished_at.present? %></td>
          <td><%= format_quarter_hour(day.finished_at) if day.finished_at.present? %></td>
          <td>
            <% if day.started_at.present? && day.finished_at.present? %>
              <%= working_times(day.started_at, day.finished_at) %>
            <% end %>
          </td>
          <td><%= day.note %></td>
          <% overtime = @overtime_requests[day.worked_on] %>
          <% approved_overtime = overtime if overtime&.status_approved? %>
          <td><%= format("%02d", scheduled_end_hour(approved_overtime)) if approved_overtime %></td>
          <td><%= format_quarter_hour(approved_overtime.scheduled_end_time) if approved_overtime %></td>
          <td><%= format_overtime_duration(approved_overtime.overtime_minutes) if approved_overtime %></td>
          <td><%= approved_overtime&.work_content %></td>
          <td class="attendance-show__supervisor-status">
            <% if overtime %>
              <div><%= "#{overtime.superior.name} #{overtime_status_label(overtime)}" %></div>
            <% end %>
            <% if (change = @attendance_change_requests[day.worked_on]) %>
              <div><%= "#{change.superior.name} #{attendance_change_status_label(change)}" %></div>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>

    <tfoot>
      <!--rowspan:縦結合、colspan：横結合-->
      <tr>
        <td colspan="3">累計日数</td>
        <td colspan="5">総合勤務時間</td>
        <td colspan="5">累計在社時間</td>
        <td colspan="2" rowspan="2" class="table-attendances__approval-request">
          <h4>所属長承認申請</h4>
          <% if own %>
            <% if @approval_request %>
              <div><%= "#{@approval_request.superior.name} #{approval_status_label(@approval_request)}" %></div>
            <% end %>
            <%= form_with url: approval_requests_path, method: :post, local: true do |f| %>
              <%= hidden_field_tag :date, @first_day %>
              <%= hidden_field_tag :mode, params[:mode] %>
              <%= hidden_field_tag "approval_request[target_month]", @first_day %>
              <div class="form-group">
                <%= label_tag "approval_request[superior_id]", "申請先（上長）" %>
                <%= select_tag "approval_request[superior_id]",
                    options_for_select(User.superiors.where.not(id: current_user.id).map { |u| [u.name, u.id] }),
                    include_blank: "-- 選択 --",
                    class: "form-control" %>
              </div>
              <%= f.submit "申請", class: "btn btn-primary" %>
            <% end %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td colspan="3"><%= @attendances.count %></td>
        <td colspan="5"><%= format_basic_info(@user.work_time).to_f * @worked_sum %></td>
        <td colspan="5"><%= format("%.2f", total_working_times(@attendances)) %></td>
      </tr>
    </tfoot>
  </table>
</div>
